*~
.#*
*.go
*.log
*.info
autom4te.cache/
Makefile
Makefile.in
texinfo.tex
/configure
/env
/config.status
/config.log
/aclocal.m4
/pre-inst-env
/missing
test-driver
tests/*.trs
install-sh
*.tar.gz

/build-aux/compile
/build-aux/config.guess
/build-aux/config.rpath
/build-aux/config.sub
/build-aux/depcomp
/build-aux/install-sh
/build-aux/mdate-sh
/build-aux/missing
/build-aux/test-driver
/build-aux/texinfo.tex
